.sidecart {
  position: fixed;
  right: 0;
  top: 80px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 20rem;
  height: calc(100% - 80px);
  padding-top: 0.5rem;
  background: $color-white;
  transform: translateX(100%);
  transition: $transition-main;
  overflow-y: auto;
  overflow-x: hidden;

  &--is-open {
    transform: initial;
  }

  &__total {
    margin: 1.5rem 0 0.5rem;
    padding: 0.5rem 1rem 1rem;
    border-top: 1px solid #000;
  }

  &__btn {
    margin-bottom: 1rem;
  }

  &__empty {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: $color-primary;
    height: 2rem;
  }
}

.sidecart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  &__img {
    width: 50%;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 0.9rem;
    text-align: center;
  }

  &__count {
    display: block;
    font-size: 0.8rem;
    text-align: center;
  }
}
