.hero {
  display: flex;
  align-items: center;
  max-width: 1500px;
  min-width: 286px;
  height: calc(100vh - 80px);
  padding: 1rem;
  margin: 0 1rem;
  animation: fadeIn 1s ease;

  &__banner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__title {
    color: $color-primary;
    font-size: 2.8rem;
    text-transform: capitalize;
    line-height: 1.3;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    animation: fadeUp 0.5s ease-out forwards;

    @media screen and (min-width: 360px) {
      font-size: 3rem;
    }

    @media screen and (min-width: 400px) {
      font-size: 3.5rem;
    }

    @media screen and (min-width: 768px) {
      font-size: 5rem;
    }

    @media screen and (min-width: 1024px) {
      font-size: 6rem;
    }

    @media screen and (max-height: 450px) {
      font-size: 2rem;
    }
  }

  &__btn {
    margin-top: 0.7rem;

    @media screen and (min-width: 768px) {
      margin-top: 1.2rem;
    }

    @media screen and (max-height: 450px) {
      margin-top: 0.7rem;
    }
  }

  &--home {
    background: url('../../assets//img/bg.jpg') 45% 10% / cover no-repeat;
    max-height: 75vh;
    min-height: 15.5rem;

    @media screen and (min-width: 768px) {
      min-height: 550px;
    }

    @media screen and (min-width: 1024px) {
      min-height: 660px;
    }
  }

  &--about,
  &--cart {
    max-height: 25vh;
    background: url('../../assets//img/aboutBg.jpg') center 65% / cover
      no-repeat;
  }

  &--contact {
    max-height: 25vh;
    background: url('../../assets//img/contactBg.jpg') center center/ cover
      no-repeat;
  }

  &--books,
  &--single-product {
    max-height: 25vh;
    background: url('../../assets//img/about-1.jpg') center 65% / cover
      no-repeat;
  }

  @media screen and (min-width: 400px) {
    padding: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    padding: 3rem;
  }

  @media screen and (min-width: 1500px) {
    margin: 0 auto;
  }
}

