.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  -webkit-tap-highlight-color: transparent; 
  z-index: 2;

  &:focus {
    outline: none;
  }

  &__bars {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
  }

  &__bar {
    position: absolute;
    right: 0;
    width: 1.5rem;
    border: 2px solid $color-primary;
    border-radius: 2px;
    transition: 0.5s cubic-bezier(0.8, 1.61, 0.25, 1);

    &--top {
      top: 7%;
    }

    &--mid {
      top: 50%;
      right: 50%;
      width: 1.1rem;
      transform: translate(50%, -50%);
    }

    &--bottom {
      bottom: 7%;
    }
  }

  &--clicked {
    .hamburger__bar {
      border-color: $color-white;
      
      &--top {
        top: 50%;
        width: 1rem;
        transform: translateY(-170%) rotate(45deg);
      }

      &--mid {
        width: .7rem;
        transform: translate(10%, -50%);
      }

      &--bottom {
        bottom: 50%;
        width: 1rem;
        transform: translateY(170%) rotate(-45deg);
      }
    }
  }
  @media screen and (min-width: 768px), (orientation: landscape) {
    display: none;
  }
}


