.btn {
  display: inline-block;
  text-decoration: none;
  letter-spacing: $spacing-main;
  color: $color-white;
  background: $color-primary;
  padding: 0.5rem 1rem;
  transition: $transition-main;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background: darken($color-primary, 20%);
  }
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.3rem;
    padding: 0.6rem 1.6rem;
  }
}

@media screen and (max-height: 450px) {
  .btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
