.btn {
  display: inline-block;
  text-decoration: none;
  letter-spacing: $spacing-main;
  background: $color-primary;
  color: $color-white;
  padding: 0.5rem 1rem;
  transition: $transition-main;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  border: 1px solid $color-primary;


  &:hover {
    background: $color-white;
    color: $color-primary;
  }

  @media screen and (min-width: 768px) {
    font-size: 1.3rem;
    padding: 0.6rem 1.6rem;
  }

  @media screen and (max-height: 568px) {
    font-size: .9rem;
    padding: 0.4rem 1rem;
  }

  &--small {
    font-size: 0.8rem;
    @media screen and (min-width: 768px) {
      font-size: 0.9rem;
    }
  }

  &--secondary {
    background: $color-white;
    color: $color-lightgrey;
    border-color: $color-lightgrey;
    &:hover {
      background: $color-lightgrey;
      color: $color-white;
    }
  }

}


