.hero {
  height: calc(100vh - 80px);
  padding: 1rem;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  max-width: 1500px;
  animation: fadeIn 1s ease;

  &__banner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__title {
    font-size: 2.5rem;
    color: $color-primary;
    text-transform: capitalize;
    line-height: 1.3;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    animation: fadeUp .5s ease-out forwards;
  }

  &__btn {
    margin-top: 0.7rem;
  }

  &--home {
    background: url('../assets//img/bg.jpg') 45% 10% / cover no-repeat;
  }

  &--about {
    background: url('../assets//img/aboutBg.jpg') center 65%/ cover no-repeat;
    max-height: 25vh;
  }
}

@media screen and (min-width: 360px) {
  .hero__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 400px) {
  .hero {
    padding: 1.5rem;
    &__title {
      font-size: 3.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 3rem;
    &__title {
      font-size: 5rem;
    }

    &__btn {
      margin-top: 1.2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    &__title {
      font-size: 6rem;
    }
  }
}

@media screen and (min-width: 1500px) {
  .hero {
    margin: 0 auto;
  }  
}

@media screen and (max-height: 450px) {
  .hero {
    &__title {
      font-size: 2rem;
    }

    &__btn {
      margin-top: 0.7rem;
    }
  }
}
