.navbar {
  position: fixed;
  right: -70%;
  top: 0;
  background: $color-primary;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  // transform: translateX(100%);
  transition: $transition-main;
  z-index: 1;

  &__list {
    list-style-type: none;
  }

  &__link,
  &__icon {
    color: $color-white;
    font-size: 1.3rem;
    text-decoration: none;
    display: inline-block;
  }

  &__icon {
    font-size: 1.5rem;
  }

  &__link,
  &__cart {
    margin: 2rem 0;
    padding: 0.5rem 0;
  }

  &__cart {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
  }

  &__cart-items {
    position: absolute;
    top: 0;
    right: 5%;
    background: $color-white;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid $color-primary;
  }

  &--is-open {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px), (orientation: landscape) {
  .navbar {
    transform: initial;
    position: relative;
    right: 0;
    background: transparent;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;

    &__list {
      display: flex;
      align-items: center;
    }

    &__link,
    &__icon {
      color: $color-black;
      font-size: 1.3rem;
      display: inline;
      transition: $transition-main;

      &:hover {
        color: $color-primary;
      }
    }

    &__link,
    &__cart {
      margin: 0;
      margin-left: 5rem;
      padding: 0.5rem;
      cursor: pointer;
    }

    &__cart-items {
      right: 0;
      background: $color-primary;
      color: $color-white;
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .navbar {
    &__link {
      font-size: 1rem;
    }

    &__link,
    &__cart {
      margin-left: 4rem;
    }

    &__cart-items {
      width: 1rem;
      height: 1rem;
      top: 10%;
      right: -5%;
    }
  }
}
