.order-summary {
  padding: 1.5rem 1rem;
  

  &__order {
    margin: 0 auto;
    max-width: 400px;
  }

  &__detail {
    width: 33.3%;
    padding: 0.6rem 0;

    &--left {
      font-weight: 700;
      
    }
    
    &--mid {
      text-align: right;
    }
    
    &--right {
      text-align: right;
      border-bottom: 1px solid rgb(194, 194, 194);
      
    }
  }

  &__total {
    text-align: right;
    display: block;
    margin: 1.5rem auto 0;
    max-width: 400px;
    font-size: 1.4rem;
    font-weight: 700;
    
  }
}