.product {
  transition: $transition-main;
  animation: fadeIn 0.3s ease;

  &:hover {
    .product__img {
      opacity: 0.5;
      transform: scale(1.1);
    }

    .product__icons {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  &__img-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

  }

  &__img {
    width: 100%;
    display: block;
    transition: $transition-main;
  }

  &__icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0;
    transition: all 0.3s linear;
  }

  &__icon {
    display: inline-block;
    background: $color-primary;
    color: $color-white;
    border: 1px solid $color-primary;
    padding: 0.6rem .55rem .5rem;
    outline: none;
    cursor: pointer;
    margin: .5rem;
    font-size: 1.3rem;
    line-height: 1.3rem;
    border-radius: 5px;
    transition: $transition-main;

    &:hover,
    &:focus {
      background: $color-white;
      color: $color-primary;
    }
  }

  &__item-added-msg {
    position: absolute;
    bottom: -80%;
    left: 0;
    font-size: .7rem;
    animation: fadeIn .2s ease-out;
    background: #5618ffd2;
    color: $color-white;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
  }

  &__name {
    text-transform: capitalize;
    padding: 0.5rem 0 0;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__price {
    text-align: center;
    letter-spacing: 2px;
    padding: 0.2rem 0;
    font-size: .7rem;
    font-weight: 300;
  }
}


@media screen and (max-width: 768px) and (orientation: landscape) {
  .product__img {
    max-width: 300px;
    margin: 0 auto 1rem;
  }
}