.sidecart {
  position: fixed;
  right: 0;
  top: 86px;
  background: $color-white;
  border: 2px solid $color-primary;
  height: calc(100% - 86px);
  width: 70%;
  z-index: 4;
  transform: translateX(100%);
  transition: $transition-main;

  &--is-open {
    transform: initial;
    }
}

@media screen and (min-width: 768px) {
  .sidecart {
    width: 20rem;
  }
}