.section-title {
  text-align: center;
  margin: 2rem 0;
  color: $color-primary;

  &__title {
    font-size: 2.5rem;
    letter-spacing: $spacing-main;
    animation: fadeUp .5s ease-out forwards;
  
  }

  &__separator {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: $color-primary;
    animation: scaleUp .7s ease-out forwards;

    &--alternate {
      background: $color-black;
    }
  }
}
