.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75rem 1rem;
  background: $color-white;
  z-index: 2;

  &--navbar-is-open::before {
    content: '';
    position: fixed;
    background: rgba(0, 0, 0, .8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn .3s ease-out;
  }

  &__logo {
    height: 3.5rem;
  }

  &__icon {
    color: $color-primary;
    font-size: 1.7rem;
    transition: $transition-main;

    &--navbar-is-open {
      color: $color-white;
      z-index: 2;
    }
  
  
  }

  .top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .top-bar {
    &--navbar-is-open::before {
      display: none;
    }

    &__icon {
      display: none;
    }
  }

  .top-bar-container {
    max-width: 1300px;
    margin: 0 auto;
  }
}
