$color-primary: #5418FF;
$color-white: #FFF;
$color-off-white: #e2e2e2;
$color-lightgrey: #555;
$color-black: #121111;
$transition-main: all 0.3s ease-out;
$spacing-main: 2px;
$box-shadow-light: 2px 5px 5px 0px rgba(0, 0, 0, 0.2);
$box-shadow-dark: 4px 10px 10px 0px rgba(0, 0, 0, 0.3);