.section-title {
  text-align: center;
  margin: 2rem 0;
  color: $color-primary;

  &__title {
    font-size: 2rem;
    letter-spacing: $spacing-main;
    animation: fadeUp 0.5s ease-out forwards;

    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__separator {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: $color-primary;
    animation: scaleUp 0.7s ease-out forwards;

    &--alternate {
      background: $color-black;
    }
  }
}
