.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1700px;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid $color-off-white;
  text-align: center;
  
  &__img {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  
  &__img-container {
    margin-bottom: .5rem;
  }

  &__title {
    padding: 0 1rem;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }

  &__count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    margin-bottom: 1.2rem;
  }

  &__price {
    margin: .1rem 0 1rem;
  }

  &__total {
    font-weight: 700;
    font-size: 1.2rem;
  }


  &__icon {
    color: $color-primary;
    font-size: 1.3rem;

    &--remove {
      color: red;
      font-size: 1.4rem;
    }
  }

  @media screen  and (min-width: 768px){
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    &__field {
      padding: 0;
      margin-bottom: 0;
    }
    &__count {
      margin: 0 auto;
    }
    
  }
}


