.product {
  position: relative;
  transition: $transition-main;
  animation: fadeIn 0.3s ease;

  &:hover {
    .product__img {
      transform: scale(1.1);
      opacity: 0.5;
    }

    .product__icons {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }

  &__img-container {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    transition: $transition-main;

    @media screen and (max-width: 768px) and (orientation: landscape) {
      max-width: 300px;
      margin: 0 auto 1rem;
    }
  }

  &__icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0;
    transition: all 0.3s linear;
  }

  &__icon {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.6rem 0.55rem 0.5rem;
    border: 1px solid $color-primary;
    border-radius: 5px;
    color: $color-white;
    background: $color-primary;
    font-size: 1.3rem;
    line-height: 1.3rem;
    outline: none;
    cursor: pointer;
    transition: $transition-main;

    &:hover,
    &:focus {
      color: $color-primary;
      background: $color-white;
    }
  }

  &__item-added-msg {
    position: absolute;
    bottom: -80%;
    left: 0;
    padding: 0.5rem;
    border-radius: 10px;
    color: $color-white;
    background: #5618ffd2;
    font-size: 0.7rem;
    text-align: center;
    animation: fadeIn 0.2s ease-out;
  }

  &__name {
    padding: 0.5rem 0 0;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__price {
    padding: 0.2rem 0;
    font-size: 0.7rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
  }
}

@media (hover: none) {
  .product::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
  }

  .product--clicked::before {
    display: none;
  }
}
