.main-footer {
  position: relative;
  padding: 1.5rem;
  margin-top: 2.5rem;
  border-top: 1px dotted lighten($color-primary, 40%);

  &__text {
    color: $color-primary;
    letter-spacing: $spacing-main;
    text-align: center;
  }

  &__back-to-top {
    position: absolute;
    right: 1rem;
    bottom: .9rem;
    padding: .5rem;
    margin: auto;
    border: none;
    text-align: center;
    color: $color-off-white;
    background: transparent;
    font-size: 1.1rem;
    outline: none;
    cursor: pointer;
  }
}

