.form-section {
  min-height: calc(75vh - 247px);
  margin: 1rem;
  margin-bottom: 4rem;
}

.form {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  color: $color-lightgrey;
  

  &__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
  }

  &__label {
    margin-bottom: 0.1rem;
    font-size: .8rem;
    text-transform: capitalize;
  }

  &__form-control {
    padding: 0.4rem;
    border: 1px solid lighten($color-lightgrey, 50%);
    border-radius: 5px;
    background: lighten($color-lightgrey, 60%);
    
    &:focus {
      border-color: lighten($color-lightgrey, 40%);
      box-shadow: 0 0 4px lighten($color-lightgrey, 50%);
      outline: none;
    }

    &--message {
      height: 5rem;
      resize: none;
    }

    &--error {
      border-color: #ff4545;
      transition: .1s;
    }
  }

  &__submit-btn {
    margin-top: .5rem;
    padding: 0.5rem;
    border: 1px solid $color-primary;
    border-radius: 5px;
    color: $color-white;
    background: $color-primary;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: $transition-main;

    &:hover,
    &:active {
      outline: none;
      color: $color-primary;
      background: transparent;
    }
  }

  &__error-msg {
    position: absolute;
    right: 0;
    bottom: -.9rem;
    color: #ff4545;
    font-size: 0.7rem;
    animation: fadeIn .1s;
  }
}
